@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #101b2f;
  line-height: 26px;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  flex-shrink: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #535bf2;
}

.icon-wrapper {
  margin-right: 13px;
  cursor: pointer;
}

.icon {
  color: #fff;
  transition: color 0.3s;
}

.icon:hover {
  background: linear-gradient(90deg, rgb(76, 188, 211) 0%, rgba(1, 140, 196, 1) 100%);
    border-radius: 40px;

}

.div_container {
  cursor: pointer;
}

.div_container small:hover {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

small {
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Rajdhani", sans-serif;
  color: #101b2f;
  line-height: 66px;
  font-size: 60px;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section_title {
  font-family: "Rajdhani", sans-serif;
  font-size: 60px;
  font-weight: 700;

  
}
.nosotros {
  font-size: 60pt;
}

.title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.title-footer {
  color: #fff;
}
.title_aliados{
  font-family: 'Rajdhani';
  font-size: 32px;
  color: #2a2e3e;
  text-align: center;
  padding: 20px;
  background-color: aliceblue;
}

.custom-carousel .carousel .carousel-status {
  background-color: gray;
}


.carousel-image {
  width: 190px;
  height: 105px;
}

.carrusel-images {
  width: 1500px;
  height: 516px;
}
.text-aliados {
  font-family:'Roboto';
  color: #101b2f;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  font-style: normal;
}

form {
  color: #424242;
}

#cns:hover {
  filter: brightness(150%) saturate(80%) hue-rotate(0deg);
}

#logo-ipicyt:hover {
  filter: brightness(150%) saturate(80%) hue-rotate(0deg);
}


