/* Estilos generales */

/* Estilos del contenedor del menú */
.menu-container {
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #ffffffcc;
}

/* Estilos del botón de menú */
.menu-button {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 9999;
}

/* Estilos del icono del botón de menú */
.menu-button:before,
.menu-button:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #424241;
    position: absolute;
    left: 10px;
    transition: transform 0.3s ease;
}

.menu-button:before {
    top: 13px;
}

.menu-button:after {
    top: 27px;
}

/* Estilos del botón de menú cuando está abierto */
.menu-button.open:before {
    transform: translateY(14px) rotate(45deg);
}

.menu-button.open:after {
    transform: translateY(-14px) rotate(-45deg);
}

/* Estilos del menú */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateY(-100%);
    transition: transform 0.7s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos del menú cuando está abierto */
.menu.open {
    transform: translateX(0);
}

/* Estilos de los elementos de la lista de menú */
.menu li {
    margin-top: 30px;
    text-align: center;
    position: relative;
}

/* Estilos de los enlaces del menú */
.menu li a {
    color: #b4b4b4;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilos de los enlaces del menú al pasar el cursor */
.menu li a:hover {
    color: #c70239;
}

/* Estilos del texto del menú */
.menu-text {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    color: #292a2d;
    font-size: 100px;
    letter-spacing: 50px;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
    font-family: 'Bungee Outline';
    z-index: -10;
    transition-property: letter-spacing;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/* Estilos del elemento de la lista del menú al pasar el cursor */
.menu li:hover {
    color: #fff;
}

/* Estilos del texto del menú al pasar el cursor */
.menu li:hover .menu-text {
    opacity: 1;
    letter-spacing: 1px;
}

/* Estilos específicos para dispositivos móviles con pantalla de hasta 600px */
@media screen and (max-width: 600px) {
    .menu-text {
        font-size: 50px;
    }
}
